:root {
    --link: blue;
    --visited: green;
}

.App {
    margin: 0 auto;
    max-width: 900px;
}

.button--LinkLike {
    border: none;
    background: transparent;
    color: var(--link);
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}

.button--LinkLike__visited {
    color: var(--visited);
}

.Banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 2;
    background: white;
    border: 1px solid var(--link);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: initial;
    line-height: initial;
}
